@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local(""),
  url("../fonts/gilroy-latin-extrabold.woff2") format("woff2"),
  url("../fonts/gilroy-latin-extrabold.woff") format("woff")
}

@font-face {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/red-rose-v14-latin-regular.woff2') format('woff2'),
  url('../fonts/red-rose-v14-latin-regular.woff') format('woff')
}

@font-face {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/red-rose-v14-latin-700.woff2') format('woff2'),
  url('../fonts/red-rose-v14-latin-700.woff') format('woff')
}

@font-face {
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/monument-extended-latin-regular.woff2') format('woff2'),
  url('../fonts/monument-extended-latin-regular.woff') format('woff')
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/red-hat-display-v14-latin-500.woff2') format('woff2'),
  url('../fonts/red-hat-display-v14-latin-500.woff') format('woff')
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('../fonts/red-hat-display-v14-latin-600.woff2') format('woff2'),
  url('../fonts/red-hat-display-v14-latin-600.woff') format('woff')
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'),
  url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff')
}
