* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #101010;
}

.main {
  flex: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.responsive {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
}

.container {
  @media (min-width: 1024px) {
    max-width: 1690px;
  }
  max-width: 768px;
  min-width: 375px;
  margin: 0 auto;
}

.header-padding {
  @media (min-width: 1024px) {
    padding: 50px 0 0 35px;
  }
  padding: 40px 0 0 24px;
}

.header-margin {
  @media (min-width: 1024px) {
    margin-right: 35px;
  }
  margin-right: 24px;
}