* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  background-color: $color-black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
}

.container {
  @media (min-width: 375px) {
    max-width: 325px;
  }
  @media (min-width: 1690px) {
    max-width: 1690px;
  }
  margin: 0 auto;
}

.header-padding {
  @media (min-width: 375px) {
    padding-top: 40px;
  }
  @media (min-width: 1690px) {
    padding: 50px 0 0 35px;
  }
}

.header-margin {
  @media (min-width: 375px) {
    margin-right: 0;
  }
  @media (min-width: 1690px) {
    margin-right: 35px;
  }
}