.header {
  font-family: "Red Rose", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  &__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Gilroy', sans-serif;
    color: $color-white;
    &_navigation {
      color: $color-white;
      text-transform: capitalize;
    }
    &_mobile {
      display: flex;
    }
  }
  &__image {
    width: 32px;
    height: 40px;
  }
  &__paragraph {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  &__list {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    display: none;
  }
  &__list-item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__button {
    display: none;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: $color-turquoise;
    border-radius: 50px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 15px 30px;
  }
}

@media (min-width: 1024px) {
  .header {
    &__link {
      &_mobile {
        display: none;
      }
    }
    &__svg-image {
      width: 46px;
      height: 57px;
    }
    &__paragraph {
      font-size: 36px;
      line-height: 44px;
    }
    &__list {
      display: flex;
    }
    &__button {
      display: flex;
    }
  }
}