.main {
  &__hero {
    font-family: 'Monument Extended', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, fit-content(1fr));
    justify-items: center;
    grid-template-areas:
    "heading-1 heading-1"
    "heading-2 heading-2"
    "button button"
    "image image"
    "creators facts";
    &_h1 {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.04em;
      color: $color-white;
      margin-bottom: 16px;
      grid-area: heading-1;
    }
    &_h2 {
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $color-white;
      width: 10em;
      margin-bottom: 32px;
      grid-area: heading-2;
    }
  }
}

@media (min-width: 1024px) {
  .main {
    &__hero {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
              "heading-1 heading-1 image image"
              "heading-2 heading-2 image image"
              "button creators image image"
              "facts facts image image";
      &_h1 {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        justify-self: start;
        align-self: end;
      }
      &_h2 {
        font-weight: 400;
        font-size: 72px;
        line-height: 86px;
        text-transform: uppercase;
        text-align: left;
        justify-self: start;
        margin-bottom: 64px;
      }
    }
  }
}