.tranding-nfts {
  &.slider-margin {
    @media (min-width: 1690px) {
      margin-right: 0;
    }
    margin-right: 24px;
    margin-bottom: 80px;
  }
  &__h2 {
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 83%;
    margin: 0 auto 55px auto;
  }
  &__slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0;
    margin-bottom: 34px;
  }
  &__slide-container {
    &.active {
      display: block;
    }
    display: none;
    width: 383px;
  }
  &__slide {
    background-color: #1D1E22;
    border-radius: 30px;
    overflow: hidden;
  }
  &__image-container {

  }
  &__link {

  }
  &__image {

  }
  &__main-section {
    padding-top: 30px;
    padding-left: 18px;
    margin-bottom: 40px;
  }
  &__h3 {
    font-family: 'Red Rose', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: capitalize;
  }
  &__paragraph {
    font-family: 'Red Rose', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    &_price-section {
      font-family: 'Red Hat Display', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.04em;
      color: #FFFFFF;
    }
  }
  &__price-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: $color-dark-grey;
    border-radius: 20px;
    padding: 16px 20px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  &__price {

  }
  &__h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #999999;
    text-transform: capitalize;
  }
}

@media (min-width: 1024px) {
  .tranding-nfts {
    &__h2 {
      font-size: 30px;
      text-align: left;
    }
    &__slide {
      display: block;
    }
    &__slide-container {
      display: block;
    }
    &__slider {
      justify-content: flex-start;
      gap: 30px;
    }
  }
}